
<p id="notice"><%= notice %></p>

<h1>Book Listss</h1>

<table>
  <thead>
    <tr>
      <th>Term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_lists.each do |book_list| %>
      <tr>
        <td><%= book_list.term_id %></td>
        <td><%= link_to 'Show', book_list %></td>
        <td><%= link_to 'Edit', edit_book_list_path(book_list) %></td>
        <td><%= link_to 'Destroy', book_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book List', new_book_list_path %>

<h1 id="fireHeading"></h1>