<!DOCTYPE html>
<html>
  <head>
    <title>Booklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>
    <%= yield %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
